//
// IMPORTS
//
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";

@import "partials/_base";
@import "partials/_grid";
@import "partials/_animations";
@import "partials/_typography";

@import "header";
@import "footer";

/* -------------------------------------------------------------------------
 * And the beauty begins ...
 * ------------------------------------------------------------------------- */
body, html {
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
    background: #FFFF00;
}

::selection {
    background: #FFFF00;
}

/* -------------------------------------------------------------------------
 * TYPOGRAPHY
 * ------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, span, strong {
    &.light     { font-weight: 300 !important; }
    &.normal    { font-weight: 400 !important; }
    &.black     { font-weight: 900 !important; }
}

h1 {
    font-size: 18px;
}

h3 { margin-bottom: 10px; }

p {
    margin-bottom: 10px;

    &:last-child { margin-bottom: 0; }

    &.message {
        color: #999;
        font-size: 10px;
        text-align: center;
    }
}

a {
    color: #0072B1;
    cursor: pointer;
    outline: 0;
    text-decoration: none;

    &:hover { text-decoration: underline; }
}

strong { font-weight: 700; }
em { font-style: italic; }

hr {
    border: 0;
    border-top: 1px solid #E6E6E6;
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
}

.text-left      { text-align: left;     }
.text-center    { text-align: center;   }
.text-right     { text-align: right;    }
.text-justify   { text-align: justify;  }

//
// Elements
//
.search {
    position: relative;

    i {
        color: #777;
        font-size: 16px;
        padding: 20px 0;
        position: absolute;
    }

    input {
        border: 0;
        color: #000;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 12px;
        margin: 0;
        padding: 20px 0 20px 40px;
        width: 100%;

        &:focus,
        &:hover {
            outline: none;
        }
    }
}

/* -------------------------------------------------------------------------
 * LAYOUT
 * ------------------------------------------------------------------------- */
.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;

    @media (min-width: $breakpoint-sm-min) { width: 750px; }
    @media (min-width: $breakpoint-md-min) { width: 970px; }
    @media (min-width: $breakpoint-lg-min) { width: 1170px; }

    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after { clear: both; }
}

.row {
    margin: 0;
    position: relative;

    &:before, &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.pull-left  { float: left; }
.pull-right { float: right; }

.wrapper { padding: 10px; }

.sm-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}
.md-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}
.lg-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.no-top-padding     { padding-top:      0 !important; }
.no-bottom-padding  { padding-bottom:   0 !important; }

.vc-container {
    display: table;
    width: 100%;

    .inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

button {
    background: transparent;
    border: 1px solid ;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-top: 25px;
    padding: 12px 20px;
}

.dark-text {
    h1, h2, h3, h4, h5, h6 { color: #000; }
    p { color: #777; }

    button {
        border-color: #777;
        color: #777;

        &:hover {
            color: #fff;
            background: #777;
        }
    }
}

.light-text {
    h1, h2, h3, h4, h5, h6 { color: #fff; }
    p { color: #aaa; }

    button {
        border-color: #fff;
        color: #fff;

        &:hover {
            color: #777;
            background: #fff;
        }
    }
}

/* -------------------------------------------------------------------------
 * SITE
 * ------------------------------------------------------------------------- */
.site {
    padding-top: 50px;
}

.masthead,
.text {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 50px;
        letter-spacing: -2px;
    }

    h3 {
        font-size: 30px;
        letter-spacing: -2px;
    }

    p {
        font-size: 20px;
        margin: 0 auto;
        max-width: 640px;
    }
}

.text {
    p {
        font-size: 16px;
    }
}

.cheatsheet {
    background-color: #555;
    cursor: pointer;
    display: block;
    opacity: 0.9;
    padding: 60px 0;
    width: 100%;

    @include transition(opacity ease-in 0.2s);

    &.empty {
        background-color: transparent;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        color: #AAAAAA;
        cursor: default;
    }

    &:hover {
        opacity: 1;
        text-decoration: none;
    }

    h1 {
        font-size: 50px;
        letter-spacing: -2px;
    }

    p {
        font-size: 12px;
    }
}

