<section class="masthead">
    <div class="container dark-text lg-padding text-center">
        <h1><i class="fa fa-cube"></i></h1>
        <h2>Dimensions</h2>
        <p>Your new favourite tool for staying up to date on dimensions of social media images, mobile devices, and more.</p>
    </div>
</section>

<section class="text">
    <div class="bg-gray light-text md-padding text-center">
        <div class="container">
            <div class="row">
                <h3>Social Media</h3>
                <p>With social media websites constantly being redesigned, it is sometimes difficult to keep up with these changes. Dimensions seeks to address this by helping you optimize your branding strategy and improve its image.</p>
                <a ui-sref="social"><button>Take a look</button></a>
            </div>
        </div>
    </div>
</section>

