<div class="secondary facebook">
    <div class="container">
        <i ui-sref="social.facebook" class="fa fa-folder clr-white"></i>
        <ul class="links">
            <li><a ui-sref="social.facebook.demo" ui-sref-active="active"><strong>Overview</strong></a></li>
            <li><a ui-sref="social.facebook.demo.user" ui-sref-active="active">User</a></li>
            <li><a ui-sref-active="active">Page</a></li>
        </ul>
    </div>
</div>

<div ui-view>
    <div class="container text-center">
        <div class="row md-padding">
            <div class="col-md-6">
                <h3>User</h3>
            </div>
            <div class="col-md-6">
                <h3>Page</h3>
            </div>
        </div>
    </div>
</div>

<p class="message md-padding no-bottom-padding text-center">
    <strong>Disclaimer:</strong> All styles and designs were produced by the creative team at Facebook.
</p>