<div ui-view class="has-secondary">
    <div class="secondary">
        <div class="container">
            <i class="search fa fa-search"></i>
            <a class="list-toggle">
                <i class="fa fa-list"></i>
            </a>
            <div class="links">
                <input type="text" ng-model="search.name" placeholder="Search...">
            </div>
        </div>
    </div>

    <a ui-sref="{{ network.state }}" class="cheatsheet {{ network.class }}" ng-repeat="network in socialNetworks | filter:search.name">
        <div class="inner container text-center">
            <h2 class="clr-white">{{ network.name }}</h2>
            <p class="clr-white">Last updated on {{ network.date }}.</p>
        </div>
    </a>

    <section class="cheatsheet empty" ng-show="(socialNetworks | filter:search.name).length == 0">
        <div class="inner container text-center">
            <h2>No results.</h2>
            <p>Try another keyword like 'Facebook'.</p>
        </div>
    </section>
</div>
