<div class="secondary container">
    <i ui-sref="social" class="fa fa-folder"></i>
    <ul class="pull-left">
        <li><a>Profile Picture</a></li>
    </ul>
</div>

<section class="md-padding bg-instagram">
    <div class="inner container text-center">
        <h2 class="clr-white">Instagram</h2>
        <p class="clr-white">Last updated on May 25, 2014.</p>
        <a ui-sref="social"><button>Interactive demo</button></a>
    </div>
</section>

<div class="container md-padding text-center">
    <h3 class="md-padding no-top-padding">Profile Picture</h3>
    <img src="holder.js/110x110/auto" holder>
</div>
