<div class="secondary container">
    <i ui-sref="social" class="fa fa-folder"></i>
    <ul class="pull-left">
        <li><a>Profile Picture</a></li>
    </ul>
</div>

<section class="md-padding bg-pinterest">
    <div class="inner container text-center">
        <h2 class="clr-white">Pinterest</h2>
        <p class="clr-white">Last updated on May 25, 2014.</p>
        <a ui-sref="social"><button>Interactive demo</button></a>
    </div>
</section>

<div class="container md-padding text-center">
    <div class="md-padding no-top-padding">
        <h3>Profile Picture</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Display</p>
            <img src="holder.js/165x165/auto" holder>
        </div>
        <div class="col-md-6">
            <p>Max</p>
            <img src="holder.js/600x600/auto" holder>
        </div>
    </div>
</div>
