<div class="secondary container">
    <i ui-sref="social" class="fa fa-folder"></i>
    <ul class="pull-left">
        <li><a>Profile Picture</a></li>
        <li><a>Video Upload (HD 1080p)</a></li>
        <li><a>Video Upload (HD 720p)</a></li>
        <li><a>Video Upload (SD 16:9)</a></li>
        <li><a>Video Upload (SD 4:3)</a></li>
    </ul>
</div>

<section class="md-padding bg-vimeo">
    <div class="inner container text-center">
        <h2 class="clr-white">Vimeo</h2>
        <p class="clr-white">Last updated on May 25, 2014.</p>
        <a ui-sref="social"><button>Interactive demo</button></a>
    </div>
</section>

<div class="container md-padding text-center">
    <h3 class="md-padding no-top-padding">Profile Picture</h3>
    <img src="holder.js/300x300/auto" holder>

    <hr class="bg-vimeo">

    <h3 class="md-padding no-top-padding">Video Upload (HD 1080p)</h3>
    <img src="holder.js/1920x1080/auto" holder>

    <hr class="bg-vimeo">

    <h3 class="md-padding no-top-padding">Video Upload (HD 720p)</h3>
    <img src="holder.js/1280x720/auto" holder>

    <hr class="bg-vimeo">

    <h3 class="md-padding no-top-padding">Video Upload (SD 16:9)</h3>
    <img src="holder.js/640x360/auto" holder>

    <hr class="bg-vimeo">

    <h3 class="md-padding no-top-padding">Video Upload (SD 4:3)</h3>
    <img src="holder.js/640x480/auto" holder>
</div>
