<div class="container search">
    <i class="fa fa-search"></i> <input type="text" ng-model="search.name" placeholder="Search...">
</div>

<section class="cheatsheet {{ os.class }}" ng-repeat="os in mobileOS | filter:search.name">
    <div class="inner container text-center">
        <h1 class="clr-white">{{ os.name }}</h1>
        <p class="clr-white">Last updated on {{ os.date }}</p>
    </div>
</section>

<section class="cheatsheet empty" ng-show="(mobileOS | filter:search.name).length == 0">
    <div class="inner container text-center">
        <h1>No results.</h1>
    </div>
</section>
